<ng-container class="align-items-center">
  <div class="card col-md-6">
    <div class="row">
      <div class="container col-md-4">
        <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
          class="profile-img-card" width="200" height="200"/>
      </div>
      <div class="container col-md-8">
        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-floating mb-1">
            <input type="text" class="form-control" name="username" id="username"
              [(ngModel)]="form.username" required #username="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && username.errors }"/>
            <div *ngIf="username.errors && f.submitted" class="invalid-feedback">Username is required!</div>
            <label for="username">Username</label>
          </div>
          <div class="form-floating mb-1">
            <input type="password" class="form-control" name="password" id="password"
              [(ngModel)]="form.password" required #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.errors }"/>
            <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
              <div *ngIf="password.errors['required']">Password is required</div>
              <div *ngIf="password.errors['minlength']">Password must be at least 6 characters</div>
            </div>
            <label for="password">Password</label>
          </div>
          <button class="btn btn-primary btn-block">Login</button>
          <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
            Login failed: {{ errorMessage }}
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isLoggedIn">Logged in as {{ roles }}</div>
      </div>
    </div>
  </div>
</ng-container>
