
<!--<div class="container col-sm-4">
  <form id="editItemForm" novalidate class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group row">
      <label class="control-label col-sm-3" for="edit.name">{{'ITEM_NAME' }}</label>
      <div class="col-sm-9">
        <input class="form-control"  ng-model="currentItem.name" type="text" id="edit.name"
               placeholder="{{'ENTER_ITEM_NAME' }}" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label col-sm-3" for="edit.description">{{'ITEM_DESCRIPTION' }}</label>
      <div class="col-sm-9">
        <input class="form-control"  ng-model="currentItem.description" type="text" id="edit.description"
               placeholder="{{'ENTER_ITEM_DESCRIPTION' }}">
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label col-sm-3" for="edit.cost">{{'ITEM_COST' }}</label>
      <div class="col-sm-9">
        <input class="form-control"  ng-model="currentItem.cost" type="text" id="edit.cost"
               placeholder="{{'ENTER_ITEM_COST' }}" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label col-sm-3" for="edit.department">{{'DEPARTMENT' }}:</label>
      <div class="col-sm-4">
        <select class="form-control" id="edit.department" ng-model="currentItem.department"
                ng-options="dep  for dep in departments" required>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-offset-3 col-sm-9">
        <button type="button" class="btn btn-default" ng-click="saveItem(currentItem)" ng-disabled="editItemForm.$invalid">{{'SAVE' }}</button>
      </div>
    </div>
  </form>
</div>
<div class="col-sm-8">
  <div class="form-group row">
    <label class="control-label col-sm-3" for="edit.image">{{'ITEM_IMAGE' }}</label>
    <div class="col-sm-9">
      <input class="form-control" type="file" id="edit.image" placeholder="{{'ENTER_ITEM_IMAGE' }}"
             ngf-select ng-model="currentItem.images" name="file" ngf-pattern="'image/*'"
             ngf-accept="'image/*'" ngf-max-size="40MB" ngf-min-height="100"
             ngf-resize="{width: 400, height: 400, quality: 1.0}" ngf-resize-if="$width > 400 || $height > 400"
             ngf-multiple="true"/>
      &lt;!&ndash;Drop files:&ndash;&gt;
      &lt;!&ndash;                <div ngf-drop ng-model="files" class="drop-box">Drop</div>&ndash;&gt;
      <div style="height: 305px">
        <div uib-carousel active="active" ng-if="!currentItem.dataUrls || currentItem.dataUrls.length !== 0">&lt;!&ndash;interval="0" no-wrap="true"&ndash;&gt;
          <div uib-slide ng-repeat="slide in slides" index="slide.id">
&lt;!&ndash;            <img ng-src="{{slide.image}}" style="width: 400px;height: 300px;margin:auto;">&ndash;&gt;
            <div class="carousel-caption">
              <i class="glyphicon glyphicon-remove" ng-click="deleteImage(slide.image)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div class="container col-md-6 card">
  <h2>Create Item</h2>
  <form (ngSubmit)="onSubmit(item)">
    <div class="form-floating mb-3 ">
      <input type="text" class="form-control" id="itemName" name="itemName" [(ngModel)]="item.name">
      <label for="itemName">Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="itemDescription" name="itemDescription" [(ngModel)]="item.description">
      <label for="itemDescription">Description</label>
    </div>
    <div class="form-floating mb-3">
      <select class="form-control" id="itemDepartment" name="itemDepartment" [(ngModel)]="item.department">
        <option *ngFor="let department of departments">
          {{department}}
        </option>
      </select>
      <label for="itemDepartment">Department</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="itemPrice" name="itemPrice" [(ngModel)]="item.price">
      <label for="itemPrice">Price</label>
    </div>
    <button class="btn btn-success" type="submit" on>Save</button>
  </form>
</div>
