<ng-container *transloco="let t;">
  <header>
    <div class="px-3 py-2 bg-dark text-white">
      <div>
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start col-md-12">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" fill="currentColor">
              <use xlink:href="assets/bootstrap-icons.svg#pen"></use>
            </svg>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="/" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor">
                  <use xlink:href="assets/bootstrap-icons.svg#house"></use>
                </svg>
                Home
              </a>
            </li>
            <li>
              <a class="nav-link text-white" routerLink="tasks">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor">
                  <use xlink:href="assets/bootstrap-icons.svg#speedometer2"></use>
                </svg>
                {{t('TASK_LIST')}}
              </a>
            </li>
            <li>
              <a class="nav-link text-white" routerLink="orders">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor">
                  <use xlink:href="assets/bootstrap-icons.svg#table"></use>
                </svg>
                {{t('ORDERS')}}
              </a>
            </li>
            <li>
              <a class="nav-link text-white" routerLink="items" routerLinkActive="active">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor">
                  <use xlink:href="assets/bootstrap-icons.svg#grid"></use>
                </svg>
                {{t('ITEMS')}}
              </a>
            </li>
            <li *ngIf="isAdmin()">
              <a class="nav-link text-white" routerLink="users">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor">
                  <use xlink:href="assets/bootstrap-icons.svg#person-circle"></use>
                </svg>
                {{t('USERS')}}
              </a>
            </li>
            <div *ngIf="!isLoggedIn" style="margin: auto">
              <li class="nav-item">
                <a href="/register" class="nav-link text-white" routerLink="register">Sign Up</a>
              </li>
              <li class="nav-item">
                <a href="/login" class="nav-link text-white" routerLink="login">Login</a>
              </li>
            </div>
            <div *ngIf="isLoggedIn" style="margin: auto">
              <li ngbDropdown class="nav-item">
                <a href (click)="false" class="nav-link text-white" ngbDropdownToggle>{{username}}</a>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem href="/profile" routerLink="profile">Profile</button>
                  <button ngbDropdownItem (click)="changeLanguage()">Change language ({{([currentLang])}})</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem (click)="logout()">LogOut</button>
                </div>
              </li>
            </div>
          </ul>
          <!--<div class="text-end" style="margin-left: 30px">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="dropdown08"
                   aria-expanded="false" (click)="changeLanguage()">{{([currentLang])}}</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown08">
                  <li><a class="dropdown-item" (click)="changeLanguage('En')">En</a></li>
                  <li><a class="dropdown-item" (click)="changeLanguage('Ru')">Ru</a></li>
                </ul>
              </li>
            </ul>
          </div>-->
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <!--  <app-item-list></app-item-list>-->

    <router-outlet></router-outlet>


    <!--<p appStyle fontWeight="bold" fontColor="green">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti,
      mollitia.</p>
    <app-post-form (onAdd)="updatePosts($event)">

    </app-post-form>
    <br/>
    <app-post *ngFor="let post of posts" [myPost]="post">

    </app-post>-->

  </div>
  <footer class="footer">
    <div class="container">
      <span>All rights reserved 2023 Rusfrance</span>
    </div>
  </footer>
</ng-container>

