<ng-container *transloco="let t;">
<ul class="nav nav-pills">
<!--  <ul class="navbar-nav">-->
    <li class="nav-item">
      <a routerLink="items" routerLinkActive="active" class="nav-link">{{t('ITEMS')}}</a>
    </li>
    <li class="nav-item">
      <a routerLink="item" class="nav-link">{{t('ITEM_CREATE')}}</a>
    </li>
    <!--<li>
      <button (click)="changeLanguage()">change lang</button>
    </li>-->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
         role="button" aria-expanded="false" (click)="changeLanguage('En')">{{([currentLang])}}</a>
      <ul class="dropdown-menu">
<!--        <li><a class="dropdown-item" href="#" (click)="changeLanguage('En')">En</a></li>-->
<!--        <li><a class="dropdown-item" href="#" (click)="changeLanguage('Ru')">Ru</a></li>-->
      </ul>
    </li>
<!--  </ul>-->
</ul>
<div class="container">
<!--  <app-item-list></app-item-list>-->

  <router-outlet></router-outlet>
  <p appStyle fontWeight="bold" fontColor="green">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, mollitia.</p>
  <app-post-form (onAdd)="updatePosts($event)">

  </app-post-form>
  <br/>
  <app-post *ngFor="let post of posts" [myPost]="post">

  </app-post>

</div>
<footer class="footer">
  <div class="container">
    <span>All rights reserved 2023 Rusfrance</span>
  </div>
</footer>
</ng-container>

