<ng-container *transloco="let t;">
<h2>{{ t('ITEMS', { value: 'Transloco' }) }}</h2>
  <button (click)="toggleDisplayMode()" class="btn btn-secondary">
    {{ displayAsGrid ? t('DISPLAY_TABLE') : t('DISPLAY_GRID') }}
  </button>
<!--  <div class="mat-elevation-z8">-->
    <ng-container *ngIf="!displayAsGrid; else gridView">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{t('ITEM_NAME')}}</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{t('ITEM_DESCRIPTION')}}</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{t('ITEM_PRICE')}}</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} {{ t('CURRENCY') }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button class="btn btn-primary" (click)="navigateToCreate()">
            {{t('ITEM_CREATE')}}
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-primary" (click)="navigateToEdit(element.id ?? 0)"
                  data-toggle="tooltip" data-placement="bottom" title="{{t('EDIT')}}">
            <svg class="bi" width="16" height="16" fill="currentColor">
              <use xlink:href="assets/bootstrap-icons.svg#pencil-square"/>
            </svg>
          </button>
          <button class="btn btn-danger" (click)="deleteItem(element.id ?? 0)"
                  data-toggle="tooltip" data-placement="bottom" title="{{t('DELETE')}}">
            <svg class="bi" width="16" height="16" fill="currentColor">
              <use xlink:href="assets/bootstrap-icons.svg#bucket"/>
            </svg>
          </button>
          <button class="btn btn-warning" aria-label="expand row"
                  (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()"
                  data-toggle="tooltip" data-placement="bottom" title="{{t('ITEM_INFO')}}">
            <svg class="bi" width="16" height="16" fill="currentColor" *ngIf="expandedElement !== element">
              <use xlink:href="assets/bootstrap-icons.svg#caret-down"/>
            </svg>
            <svg class="bi" width="16" height="16" fill="currentColor" *ngIf="expandedElement === element">
              <use xlink:href="assets/bootstrap-icons.svg#caret-up"/>
            </svg>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-diagram">
              <div class="example-element-position"> {{element.name}}
              </div>
            </div>
            <div class="example-element-description">
              {{element.description}}
              <div class="example-element-name"> {{t(element.department)}} </div>
              <div class="example-element-symbol"> {{element.price}} </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;"
          (click)="selection.toggle(row)">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    </table>
    </ng-container>

    <ng-template #gridView>
      <div class="grid-container">
        <div class="grid-item" *ngFor="let element of dataSource.data; let i = index">
          <!--<div class="image-container">
            <img [src]="element.imageUrl" [alt]="element.name">
          </div>-->
          <div class="item-content">
            <h3 class="item-title">{{ element.name }}</h3>
            <app-image-carousel [imageNames]="element.imageUrls"></app-image-carousel>
            <p class="item-description">{{ element.description }}</p>
            <p class="item-price">{{ element.price }} {{ t('CURRENCY') }}</p>
            <div class="actions">
              <button class="btn" (click)="navigateToEdit(element.id ?? 0)">{{ t('EDIT') }}</button>
              <button class="btn" (click)="deleteItem(element.id ?? 0)">{{ t('DELETE') }}</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
<!--  </div>-->
  <mat-paginator
    [pageSizeOptions]="pageSizes"
    [showFirstLastButtons]="true"
    [pageSize]="pageSize"
    [pageIndex]="page">
  </mat-paginator>
</ng-container>
<div>
  <button class="btn btn-primary" (click)="addSelected()">Add Items to Order</button>
</div>
