<ng-container *transloco="let t;">
<h2>{{ t('ITEMS', { value: 'Transloco' }) }}</h2>
<!--<div st-table="items" st-pipe="updateTable">
  <div id="itemsTable">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>
          <div class="form-floating mb-1">
            <input type="number" class="form-control" placeholder="{{t('ITEM_PRICE')}}"
                   [(ngModel)]="filter.price" (change)="setFirstPageAndLoad()" id="price"/>
            <label for="price">{{t('ITEM_PRICE')}}</label>
          </div>
        </th>
        <th class="department">
          <div class="form-floating mb-1">
            <select class="form-control" id="itemDepartment" [(ngModel)]="filter.department"
                    (change)="setFirstPageAndLoad()">
              <option></option>
              <option *ngFor="let department of departments;" [ngValue] = "department">
                {{t(department)}}
              </option>
            </select>
            <label for="itemDepartment">{{t('DEPARTMENT')}}</label>
          </div>
        </th>
        <th>
          <div class="btn-group-sm inline-row" role="group">
            <button type="button" class="btn btn-primary" (click)="navigateToCreate()">{{t('CREATE')}}</button>
          </div>
        </th>
      </tr>
      <tr>
        <th hidden>Id</th>
        <th>#</th>
        <th st-sort="name">{{t('ITEM_NAME')}}</th>
        <th st-sort="description">{{t('ITEM_DESCRIPTION')}}</th>
        <th st-sort="price">{{t('ITEM_PRICE')}}</th>
        <th st-sort="department" class="department">{{t('DEPARTMENT')}}</th>
        <th>
         &lt;!&ndash; <select class="form-control-sm" id="itemsByPageDropDown" [(ngModel)]="pageSize" (change)="getItemsPageWithFilter()">
             <option *ngFor="let current of pageSizes">
               {{current}}
             </option>
          </select>&ndash;&gt;
        </th>
      </tr>
      </thead>
      <tbody ng-show="!isLoading">
      <tr *ngFor="let item of items | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
                let i = index">
        <td hidden>{{item.id}}</td>
&lt;!&ndash;        <td>{{pagination.from+$index+1}}</td>&ndash;&gt;
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price.toFixed(2)}}</td>
        <td class="department">{{t(item.department)}}</td>
        <td class="col-md-2">
          <button class="btn btn-primary" (click)="navigateToEdit(item.id ?? 0)">
            <svg class="bi" width="16" height="16" fill="currentColor">
              <use xlink:href="assets/bootstrap-icons.svg#pencil-square"/>
            </svg>
          </button>
&lt;!&ndash;          todo не будет работать удаление, так как на беке требует права записи для этого&ndash;&gt;
          <button class="btn btn-danger" (click)="deleteItem(item.id ?? 0)">
            <svg class="bi" width="16" height="16" fill="currentColor">
              <use xlink:href="assets/bootstrap-icons.svg#bucket"/>
            </svg>
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5">
          <div style="text-align: center">
            <pagination-controls
              previousLabel="{{t('PREV')}}"
              nextLabel="{{t('NEXT')}}"
              [responsive]="true"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>&lt;!&ndash;(pageBoundsCorrection)="handlePageOutOfBound($event)"&ndash;&gt;
          </div>
        </td>
        <td>
          <div class="form-group row">
            <div class="col-sm">
              <label for="itemsByPageDropDown" class="control-label">{{t('ITEMS_PER_PAGE')}}</label>
            </div>
            <div class="col-sm">
              <select class="form-control-sm" id="itemsByPageDropDown" [(ngModel)]="pageSize"
                      (change)="setFirstPageAndLoad()">
                <option *ngFor="let current of pageSizes">
                  {{current}}
                </option>
              </select>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
  &lt;!&ndash;<div id="itemsGrid">
    <div *ngFor="let item in items">
      <div class="itemGridElement col-md-3" style="height: 300px">
        <div class="height-100" style="border: solid red; padding: 15px">&lt;!&ndash; &ndash;&gt;
          <div style="min-height: 150px; min-width: 100px; border: dotted black; margin: 5px">
&lt;!&ndash;            <img ng-src="{{item.imageUrls[0]}}"/>&ndash;&gt;
          </div>
          <div style="margin: 5px">
            <div style="font: bold 14px sans-serif; text-align: center">{{item.name}}</div>
            <div style="font: italic 12px sans-serif; text-align: center">{{item.description}}</div>
            <div style="text-align: center">{{item.cost.toFixed(2)}}</div>
          </div>
            <button class="btn btn-primary" (click)="navigateToEdit(item)">
&lt;!&ndash;              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&ndash;&gt;
              edit
            </button>
            <button class="btn btn-danger" ng-click="deleteItem(item)">
&lt;!&ndash;              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&ndash;&gt;
              delete
            </button>
        </div>
      </div>
    </div>
  </div>&ndash;&gt;
</div>-->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{t('ITEM_NAME')}}</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{t('ITEM_DESCRIPTION')}}</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{t('ITEM_PRICE')}}</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button class="btn btn-primary" (click)="navigateToCreate()">
            {{t('ITEM_CREATE')}}
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-primary" (click)="navigateToEdit(element.id ?? 0)"
                  data-toggle="tooltip" data-placement="bottom" title="{{t('EDIT')}}">
            <svg class="bi" width="16" height="16" fill="currentColor">
              <use xlink:href="assets/bootstrap-icons.svg#pencil-square"/>
            </svg>
          </button>
          <button class="btn btn-danger" (click)="deleteItem(element.id ?? 0)"
                  data-toggle="tooltip" data-placement="bottom" title="{{t('DELETE')}}">
            <svg class="bi" width="16" height="16" fill="currentColor">
              <use xlink:href="assets/bootstrap-icons.svg#bucket"/>
            </svg>
          </button>
          <button class="btn btn-warning" aria-label="expand row"
                  (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()"
                  data-toggle="tooltip" data-placement="bottom" title="{{t('ITEM_INFO')}}">
            <svg class="bi" width="16" height="16" fill="currentColor" *ngIf="expandedElement !== element">
              <use xlink:href="assets/bootstrap-icons.svg#caret-down"/>
            </svg>
            <svg class="bi" width="16" height="16" fill="currentColor" *ngIf="expandedElement === element">
              <use xlink:href="assets/bootstrap-icons.svg#caret-up"/>
            </svg>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-diagram">
              <div class="example-element-position"> {{element.name}} </div>
            </div>
            <div class="example-element-description">
              {{element.description}}
              <div class="example-element-name"> {{t(element.department)}} </div>
              <div class="example-element-symbol"> {{element.price}} </div>
            </div>
          </div>
        </td>
      </ng-container>

  <!--    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>-->
     <!-- <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>-->
      <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;"
          (click)="selection.toggle(row)">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    </table>
  </div>
  <mat-paginator
    [pageSizeOptions]="pageSizes"
    [showFirstLastButtons]="true"
    [pageSize]="pageSize"
    [pageIndex]="page">
  </mat-paginator>
</ng-container>
<div>
  <button class="btn btn-primary" (click)="addSelected()">Add Items to Order</button>
</div>
