<ng-container *transloco="let t;">
  <h2>{{ t('TASKS')}}</h2>
  <div st-table="tasks" st-pipe="updateTable">
    <div id="tasksTable">
      <table class="table table-striped">
        <thead>
        <tr>
          <th colspan="6"><input st-search="" class="form-control-sm col-lg-8" placeholder="{{t('SEARCH')}}" type="text"/></th>
          <th></th>
          <th>
            <div class="btn-group-sm inline-row" role="group">
              <button type="button" class="btn btn-primary" (click)="navigateToCreate()">{{t('CREATE')}}</button>
            </div>
          </th>
        </tr>
        <tr>
          <th hidden>Id</th>
          <th>#</th>
          <th st-sort="name">{{t('NAME')}}</th>
          <th st-sort="description">{{t('DESCRIPTION')}}</th>
          <th st-sort="dueDate">{{t('DUE_DATE')}}</th>
          <th st-sort="status">{{t('STATUS')}}</th>
          <th st-sort="priority">{{t('PRIORITY')}}</th>
          <th st-sort="department">{{t('DEPARTMENT')}}</th>
          <th>
            <select class="form-control-sm" id="tasksByPageDropDown"
                    ng-options="opt for opt in pagination.availableOptions" ng-model="pagination.tasksPerPage">
            </select>
          </th>
        </tr>
        </thead>
        <tbody ng-show="!isLoading">
        <tr *ngFor="let task of tasks; let i = index">
          <td hidden>{{task.id}}</td>
          <td>{{i+1}}</td>
          <td>{{task.name}}</td>
          <td>{{task.description}}</td>
          <td>{{task.dueDate | date: 'dd.MM.yyyy HH:mm' }}</td>
          <td>{{t(task.status)}}</td>
          <td>{{t(task.priority)}}</td>
          <td>{{t(task.department)}}</td>
          <td class="col-md-2">
            <button class="btn btn-primary" (click)="navigateToEdit(task.id ?? 0)">
              <svg class="bi" width="16" height="16" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#pencil-square"/>
              </svg>
            </button>
            <!--          todo не будет работать удаление, так как на беке требует права записи для этого-->
            <button class="btn btn-danger" (click)="deleteTask(task.id ?? 0)">
              <svg class="bi" width="16" height="16" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#bucket"/>
              </svg>
            </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="7" class="text-center">
            <div st-pagination="" st-items-by-page="pagination.tasksPerPage"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</ng-container>
